**/metastore_db
*.crc
*.iml
*.sc
.DS_Store
.cache
.classpath
.externalToolBuilders
.history
derby.log
.idea/
.project
.settings/
.worksheet/
../.idea
.metadata
com-rxcorp-prdb-scala/spark-warehouse/
com-rxcorp-prdb-scala/test_activeDB.db/
com-rxcorp-prdb-scala/test_stagingDB.db
../.DS_Store
../.idea/
/.idea/
.idea/workspace.xml
../.idea/workspace.xml
target
dependency-reduced-pom.xml
